<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Frequently Asked Questions</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->
	
  <% if user_signed_in? %>
  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  <% end %>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Frequently Asked Questions</h3>

    <p id="notice"><%= notice %></p>

    <%= link_to 'New FAQ', new_faq_path, class: "styled_links" if current_user %>
    
    <div class="clear padding20"></div>  

    <% @faqs.each do |faq| %>
    <% if !faq.show? %>
      <h3><%= faq.question %></h3>
      <p><%= faq.answer %><%= link_to 'Edit', edit_faq_url(faq), class: "styled_links" if current_user %></p>
      <div class="clear"></div>
    <% end %>
    <% end %>
    
    <%= link_to 'New FAQ', new_faq_path, class: "styled_links" if current_user %>


  <div class="clear padding20"></div>

</section>
