<section class="container clearfix">
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">New Question</h1>
    <div class="clear"></div>
  </header>
  
  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <h3 class="red">Editing Occupant</h3>

    <p id="notice"><%= notice %></p>

<%= form_for @faq, :html => {:class => "admin_form"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= f.submit "Create", :class => "button white" %>

  <div class="clear padding25"></div>
<% end %>

  </div>
        
  <div class="clear padding15"></div>
</section>  