<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :room_no %>
    <%= f.text_field :room_no %>
  </p>
  
  <p>
    <%= f.label :occupants %>
    <%= f.text_field :occupants %>
  </p>
  
  <p>
    <%= f.label :move_out_date %>
    <%= f.text_field :move_out_date %>
  </p>
  
  <p>
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </p>
  
  <p>
    <%= f.label :date_received %>
    <%= f.text_field :date_received %>
  </p>
  
  <h3>New Reservation</h3>
  
  <p>
    <%= f.label :proposed_occupants%>
    <%= f.text_field :proposed_occupants%>
  </p>
  
  <p>
    <%= f.label :checkin_date %>
    <%= f.text_field :checkin_date%>
  </p>
  
  <p>
    <%= f.label :reservation_paid? %>
    <%= f.check_box :paid %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
