<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Reservations / Rooms To Be Vacated / Vacant Rooms</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Reservations / Rooms To Be Vacated</h3>

    <p id="notice"><%= notice %></p>

    <table>
      <thead>
        <tr>
          <th>Room No</th>
          <th>Current Occupants</th>
          <th>Move Out Date</th>
          <th>Proposed Occupants</th>
          <th>Check In Date</th>
          <th>Reservation Paid?</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @notices.each do |notice| %>
          <tr>
            <td><%= notice.room_no %></td>
            <td><%= notice.occupants.blank? ? 'VACANT' : notice.occupants %></td>
            <td><%= notice.move_out_date %>
            <td><%= notice.proposed_occupants %></td>
            <td><%= notice.checkin_date %></td>
            <td><%= to_status(notice.paid?) %></td>
            <td><%= link_to 'Show', notice %></td>
            <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
            <%#= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <h3>Vacant Rooms</h3>

    <table>
      <thead>
        <tr>
          <th>Room No</th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.room_no %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  
  <div class="clear padding15"></div>
</section>
