<%= form_for(@utility) do |f| %>
  <% if @utility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utility.errors.count, "error") %> prohibited this utility from being saved:</h2>

      <ul>
      <% @utility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :rate %>
    <%= f.text_field :first_rate %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :limit %>
    <%= f.text_field :first_limit %>
  </p>

  <p>
    <%= f.label :excess_rate %>
    <%= f.text_field :excess_rate %>
  </p>

  <p>
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :category %>
    <%= f.select(:category, Utility::CATEGORIES) %>
  </p>

  <p>
    <%= f.label :sort_order %>
    <%= f.text_field :sort_order %>
  </p>

  <div class="actions">
    <%= f.submit %>  <%= link_to 'Cancel', utilities_path, class: "styled_links" %>
  </div>
<% end %>
