<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>

  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->

    <h3>Utilities</h3>

    <p id="notice"><%= notice %></p>

    <%= link_to 'New Utility', new_utility_path, class: "styled_links" %>

    <div class="clear padding20"></div>

    <table id="utilities_list">
      <thead>
        <tr>
          <th>Sort Order</th>
          <th>Name</th>
          <th>Description</th>
          <th>Rate</th>
          <th>Limit</th>
          <th>Excess Rate</th>
          <th>Unit</th>
          <th colspan="1">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @utilities.each do |utility| %>
          <tr>
            <td><%= utility.sort_order %></td>
            <td class="left"><%= link_to utility.name, utility %></td>
            <td><%= utility.description %></td>
            <td><%= to_currency(utility.first_rate) %></td>
            <td><%= utility.first_limit %></td>
            <td><%= utility.excess_rate %></td>
            <td><%= utility.unit %></td>
            <%#= link_to 'Show', utility %>
            <td><%= link_to 'Edit', edit_utility_path(utility) %></td>
            <%#= link_to 'Destroy', utility, method: :delete, data: { confirm: 'Are you sure?' } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= link_to 'New Utility', new_utility_path, class: "styled_links" %>
  </div>



  <div class="clear padding15"></div>
</section>
