<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->
	
  <% if user_signed_in? %>
  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  <% end %>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Users</h3>

    <p id="notice"><%= notice %></p>
    
    <div class="clear padding20"></div>  

    <table>
      <thead>
        <th>Email</th>
        <th>Name</th>
        <th>Active?</th>
        <th>Admin?</th>
      </thead>
      <tbody>
        <% @users.each do |user |%>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.name  %></td>
            <td><%= to_status(user.active) %></td>
            <td><%= to_status(user.admin) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <div class="clear padding20"></div>

</section>
