<h3 class="red">Maintenance</h3>
<ul class="contact-address">
  <li><%= link_to 'Rooms', rooms_path %></li> 
  <li><%= link_to 'Occupants', occupants_path %></li>
  <li><%= link_to 'Utilities', utilities_path %></li>
  <li><%= link_to 'FAQs', faqs_path %></li>
  <li><%= link_to 'Settings', setting_path %></li>
</ul>

<h3 class="red">Transactions</h3>
<ul class="contact-address">
  <li><%= link_to 'Check In', check_in_rooms_url %></li>
</ul>  

<h3 class="red">Reports</h3>
<ul class="contact-address">
  <li><%= link_to 'Occupancy List', occupancy_list_rooms_url %></li>    
</ul>