<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <h3 class="red">Website Settings</h3>

    <p id="notice"><%= notice %></p>
    
    <%= link_to 'Edit Settings', edit_setting_path(@setting), class: "styled_links" %>
    
    <div class="clear padding20"></div>
    
    <!--span>
      <%#= label_tag :logo %><br/>
      <figure><%#= image_tag @setting.logo.url(:medium) %></figure>     
    </span-->
    
    <span>
      <%= label_tag :photo_one %><br/>
      <figure><%= image_tag @setting.photo1.url(:small) %></figure>
      <figcaption><%= @setting.photo1_caption %></figcaption>      
    </span>
    
    <span>
      <%= label_tag :photo_two %><br/>
      <figure><%= image_tag @setting.photo2.url(:small) %></figure>
      <figcaption><%= @setting.photo2_caption %></figcaption>      
    </span>
    
    <span>
      <%= label_tag :photo_three %><br/>
      <figure><%= image_tag @setting.photo3.url(:small) %></figure>
      <figcaption><%= @setting.photo3_caption %></figcaption>      
    </span>
    
    <span>
      <%= label_tag :photo_four %><br/>
      <figure><%= image_tag @setting.photo4.url(:small) %></figure>
      <figcaption><%= @setting.photo4_caption %></figcaption>      
    </span>
    
    <span>
      <%= label_tag :photo_five %><br/>
      <figure><%= image_tag @setting.photo5.url(:small) %></figure>
      <figcaption><%= @setting.photo5_caption %></figcaption>      
    </span>
    
    <p>
      <%= label_tag :about_us %><br/><%= @setting.about_us %>
    </p>
    
    <p>
      <%= label_tag :why_us_1_icon %><br/>
      <figure><%= image_tag @setting.whyus1.url(:thumb) %></figure>
    </p>  

    <p>
      <%= label_tag :why_us_2_icon %><br/>
      <figure><%= image_tag @setting.whyus2.url(:thumb) %></figure>
    </p>  
    
    <p>
      <%= label_tag :why_us_3_icon %><br/>
      <figure><%= image_tag @setting.whyus3.url(:thumb) %></figure>
    </p>  
    
    <p>
      <%= label_tag :about_us %><br/><%= @setting.why_us_1 %>
    </p>
    
    <p>
      <%= label_tag :about_us %><br/><%= @setting.why_us_2 %>
    </p>
    
    <p>
      <%= label_tag :about_us %><br/><%= @setting.why_us_3 %>
    </p>
    
    <p>
      <%= label_tag :description %><br/><%= @setting.page_description %>
    </p>
    
    <p>
      <%= label_tag :address %><%= @setting.address %>
    </p>
    
    <p>
      <%= label_tag :phone %><%= @setting.phone %>
    </p>
    
    <p>
      <%= label_tag :mobile %><%= @setting.mobile %>
    </p>
    
    <p>
      <%= label_tag :email %><%= @setting.email %>
    </p>

    <%= link_to 'Edit Settings', edit_setting_path(@setting), class: "styled_links" %>
    
    <div class="clear padding20"></div>

  </div>
        
  <div class="clear padding15"></div>
</section>