<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Check In</h3>

    <p id="notice"><%= notice %></p>
    
    <%= form_tag '' do %>
      <p>
        <%= label_tag :room_no %>
        <%= select_tag "room_no", options_for_select(@rooms), prompt: "Select room" %>
      </p>
      
      <p>
        <%= label_tag :occupant %>
        <%= select_tag "occupants[]", options_for_select(@occupants.map {|o| [o.name, o.id] }), multiple: :multiple, size: 5, prompt: "Select occupant" %>
      </p>
      
      <p>
        <%= label_tag :start_date %>
        <%= date_field_tag :start_date, Date.today %>
      </p>
      
      <p>
        <%= label_tag :basic %><br/>
        <% @basic.all.each do |u| %>
          <%= check_box_tag "utilities[#{u.id}]" %> <%= u.name %> <%= to_currency(u.rate) %><br/>
        <% end %>
      </p>
        
      <p>
        <%= label_tag :extras %><br/>
        <% @extra.all.each do |u| %>
          <%= check_box_tag "utilities[#{u.id}]" %> <%= u.name %> <%= to_currency(u.rate) %><br/>
        <% end %>
      </p>
      
      <%= submit_tag 'New Check In' %>     <%= link_to 'Cancel', occupancy_list_rooms_url, class: "styled_links" %>
    <% end %>
    
    <div class="clear padding15"></div>
    
  </div>
        
  <div class="clear padding15"></div>
</section>  