<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Room List</h3>

    <p id="notice"><%= notice %></p>
    
    <table>
      <thead>
        <tr>
          <th>Room No</th>
          <th>Max Occupants</th>
          <th>Monthly Rate</th>
          <th>Daily Rate</th>
          <th>Active?</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.room_no %></td>
            <td><%= room.max_occupants %></td>
            <td><%= to_currency(room.room_rate) %></td>
            <td><%= to_currency(room.daily_rate) %></td>
            <td><%= to_status(room.active) %></td>
            <td><%= link_to 'Show', room %></td>
            <td><%= link_to 'Edit', edit_room_path(room) %></td>
            <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
  
  <%= link_to 'New Room', new_room_path %>      
  
  <div class="clear padding15"></div>
</section>