<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line" id="no_print">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4" id="no_print">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Occupancy List</h3>

    <table id="borders">
      <thead>
        <th>Room No</th>
        <th>Occupants</th>
        <th>Start Date</th>
        <th id="no_print">Actions</th>
      </thead>
      <tbody>
        <%# do not duplicate room nos if same %>
        <% room_id = 0 %>
        
        <% @rooms.each do |list| %>
          
          <tr>
            <td class="ten center"><%= list.room_no if list.id != room_id %></td>                       
            <td class="seventy"><%= "#{list.first_name} #{list.last_name}" %></td>
            <td class="ten center"><%= list._date %></td>
            <td class="ten center" id="no_print"><%= link_to 'Details', occupancy_details_room_url(list._id) if list.has_checkin? %></td>
          </tr>  

          <% room_id = list.id %>

        <% end %>
      </tbody>
    </table>

    <div id="no_print">
      <%= link_to 'PRINT', occupancy_list_rooms_url(:format => :pdf) %>
    </div>
    
    <div class="clear padding15"></div>
    
  </div>
        
  <div class="clear padding15"></div>
</section>  