<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Occupancy Details</h3>

    <p id="notice"><%= notice %></p>
    
    <p>
      <%= label_tag :room_no %>
      <%= @checkin.first.room_no %>
    </p>
    
    <p>
      <%= label_tag :start_date %>
      <%= @checkin.first.start_date %>
    </p>
    
    <h3>Occupants</h3>
    
    <%= form_tag new_roommate_room_path(id: @checkin.first.id) do %>
      <p>
        <label>New Roommate</label>
        <%= select_tag "occupants[]", options_for_select(@occupants.map {|o| [o.name, o.id] }), multiple: :multiple, size: 5, prompt: "Select occupant" %><br/>
        <%= label_tag :start_date %>
        <%= date_field_tag :start_date, Date.today %>
        <%= submit_tag 'Add' %>
      </p>
      
    <% end %>
    
    <table>
      <thead>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @checkin.each do |occupant| %>
        <tr>
          <td><%= "#{occupant.first_name} #{occupant.last_name}" %></td>
          <td><%= occupant._sdate %></td>
          <td><%= occupant._edate %></td>
          <td><%= link_to 'Remove Occupant' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <h3>Billing Components</h3>
    
    <table>
      <thead>
        <th>Item</th>
        <th>Rate</th>
        <th>Start</th>
        <th>End</th>
        <th colspan="2">Actions</th>
      </thead>
      <tbody>
        
      <% @details.each do |detail| %>
        <tr>
            <td class="left"><%= detail.utility %></td>
            <td><%= to_currency(detail.amount) %></td>
            <td><%= detail.start_date %></td>
            <td><%= detail.end_date %></td>
            <td><%= link_to 'Edit'   %></td>
            <td><%= link_to 'Remove' %></td>
      </tr>
      <% end %>
    </tbody>
    </table>

    
  </div>
  
  <%= link_to 'Back', occupancy_list_rooms_url %>      
  
  <div class="clear padding15"></div>
</section>