<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line" id="no_print">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4" id="no_print">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Occupancy List</h3>

    <table>
      <thead>
        <th>Room No</th>
        <th>Occupants</th>
      </thead>
      <tbody>
        <%# do not duplicate room nos if same %>
        <% room_no = 0 %>
        <%# count the number of td. max of 3 occupants per room %>
        <% count   = 0 %>
        
        <% @rooms.each do |room| %>
          <tr>
            <td class="ten center"><%= room.room_no %></td>
            
             
                <td>
                  <%#= image_tag room.occupant.photo.url(:small) %><br/>
                  <%= room.occupant_or_vacant %>
                  <%= room.start_date %>
                </td>
        
            
          </tr>  
          <% room_no = room.id %>
        <% end %>
      </tbody>
    </table>

    <div id="no_print">
      <%= link_to 'PRINT', occupancy_list_with_photos_rooms_url(:format => :pdf) %>
    </div>
    
    <div class="clear padding15"></div>
    
  </div>
        
  <div class="clear padding15"></div>
</section>  