<%= form_for(@extra) do |f| %>
  <% if @extra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this extra from being saved:</h2>

      <ul>
      <% @extra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <div class="clear"></div>
  
  <p>
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </p>
  <div class="clear"></div>
  
  <p>
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </p>
  <div class="clear"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
