<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Extras</h3>

    <p id="notice"><%= notice %></p>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Rate</th>
          <th>Unit</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @extras.each do |extra| %>
          <tr>
            <td><%= extra.name %></td>
            <td><%= extra.description %></td>
            <td><%= to_currency(extra.rate) %></td>
            <td><%= extra.unit %></td>
            <td><%= link_to 'Show', extra %></td>
            <td><%= link_to 'Edit', edit_extra_path(extra) %></td>
            <td><%= link_to 'Destroy', extra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
  
  <%= link_to 'New Extra', new_extra_path %>      
  
  <div class="clear padding15"></div>
</section>