    <p>
      <%= label_tag :room_period %>
      <%= @billing.advance_rent_period %>
    </p>

    <p>
      <%= label_tag :utilities_period %>
      <%= @billing.utilities_reading_period %>
    </p>

    <p>
      <%= label_tag :room_no %>
      <%= @billing_detail.first.room_no %>
    </p>

    <p>
      <%= label_tag :occupants %>
      <%= @billing_detail.first.occupants.join(', ') %>
    </p>

    <div class="narrow">
      <%= label_tag 'sort_order' %>
      <%= label_tag 'utilities' %>
      <%= label_tag 'period' %>
      <%= label_tag 'to' %>
      <%= label_tag 'from' %>
      <%= label_tag 'amount' %>


    <%= form_tag billing_billing_detail_url(@billing.id, @billing_detail.first.id), method: :put do %>
      <% @billing_detail.first.billing_utilities.each do |utility| %>
        <%= fields_for "utilities[]", utility do |f| %>
            <%= f.text_field 'sort_order' %>
            <%= f.text_field 'utility_name' %>
            <%= f.text_field 'utility_period' %>'

            <% if ['Water (minimum)','Water (excess)','Electricity', 'Water (commercial)'].include? utility.utility_name %>
              <%= f.text_field 'to' %>
              <%= f.text_field 'from' %>
            <% else %>
              <%= f.text_field 'end_date', id: 'datepicker' %>
              <%= f.text_field 'start_date', id: 'datepicker2' %>
            <% end %>

            <%= f.text_field 'amount' %>
            <%= link_to 'Remove', remove_billing_utilities_url(@billing.id, @billing_detail.first.id, utility.id), method: :delete, data: { confirm: 'Are you sure?'}, class: "styled_links" %><br/>
        <% end %>

      <% end %>
      <%= submit_tag %> <%= link_to 'Cancel', billing_billing_details_url(@billing.id), class: "styled_links" %>
    <% end %>

    <div class="clear padding15"></div>

    <div style="width:auto;display:inline-block">
    <%= form_tag add_billing_utilities_billing_billing_detail_url(@billing,@billing_detail.first) do %>
      Additional Charges:
      <%= select_tag "new_billing_utility", options_for_select(@utilities), prompt: "Select extras" %>
      <%= submit_tag  %>
    <% end %>

    </div>
