     <table>
       <thead>
         <th>Details</th>
         <th>Period</th>
         <th>Present <br/>Reading</th>
         <th>Previous <br/>Reading</th>
         <th>&nbsp;</th>
         <th>Amount</th>
       </thead>
       <tbody>
         <% total = 0 %><% amount = 0 %>
         <% billing_utilities.each do |utility| %>

           <tr>
             <td class="left"><%= utility.utility_name %></td>
             <td class="center"><%= utility.utility_period %></td>

             <% if [WATER_COM,WATER_MIN,ELECTRICITY].include? utility.utility_name %>
               <td class="center" style="width:150px;"><%= utility.to %></td>
               <td class="center" style="width:150px;"><%= utility.from %></td>
               <td class="center" style="width:150px;"><%= utility.to - utility.from %></td>
             <% else %>
               <td class="center" style="width:150px;"><%= utility.end_date %></td>
               <td class="center" style="width:150px;"><%= utility.start_date %></td>
               <td class="center" style="width:150px;">&nbsp;</td>
             <% end %>

             <td class="right" style="width:150px;"><%= to_currency(amount = utility.amount || 0) %><% total = total + amount %></td>
           </tr>

         <% end %>
         <tr>
           <td colspan="5" class="left">TOTAL</td>
           <td class="right"><%= to_currency(total) %></td
         </tr>
      </tbody>
    </table>
