<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line" id="no_print">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4" id="no_print">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3>Occupancy List</h3>
    
    <div class="no_print">
      <%#= link_to 'PRINT', checkins_url(:format => :pdf) , class: "styled_links "%>
    </div>
    
    <div class="clear padding15"></div>
    
    <ul id="occupancy_list">
      <% @rooms.each do |room| %>
        <% if room.has_checkin? %>
          <li>
            <h2><%= room.room_no %></h2>
            <div id="occupants">
              <%= room.checkins.first.start_date %><br/>
              <% room.checkins.first.occupants.each do |o| %>
                <%= o %><br/>
              <% end %>

            </div>
            <div id="actions" class="no_print">
              <%= link_to 'VIEW DETAILS', checkin_url(room.checkins.first) %><br/>
              <% if room.checkins.first.has_no_notice? %>
                <%= link_to 'ADD NOTICE TO VACATE', new_checkin_notice_url(room.checkins.first.id) %><br/><br/>
              <% else %>
                <%= link_to 'VIEW NOTICE TO VACATE', checkin_notice_url(room.checkins.first.id, room.checkins.first.notice) %><br/>
                
                <% if room.has_reservation? %>
                  <%= link_to 'VIEW RESERVATION', room_reservation_url(room.id, room.reservation.id) %><br/>
                <% else %>
                  <%= link_to 'ADD RESERVATION', new_room_reservation_url(room.id) %><br/>
                  <% end %>
                  
              <% end %>
              
              <%= link_to 'GENERATE FINAL BILLING' %>
            </div>
          </li>
        <% else %>
          <li>
            <h2><%= room.room_no %></h2>
            <div id="vacant"><%= 'VACANT '%></div>
            <div id="actions" class="no_print">
              <br/><br/>
              <% if room.has_reservation? %>
                <%= link_to 'VIEW RESERVATION', room_reservation_url(room.id, room.reservation.id) %><br/>
              <% else %>
                <%= link_to 'ADD RESERVATION', new_room_reservation_url(room.id) %><br/>
              <% end %>
            </div>
          </li>  
        <% end %>
      <% end %>
    </ul>

    <div class="clear padding15"></div>

    <div class="no_print">
      <%= link_to 'PRINT', checkins_url(:format => :pdf) , class: "styled_links "%>
    </div>
    
    <div class="clear padding15"></div>
    
  </div>
        
  <div class="clear padding15"></div>
</section>  