

    <h3>Occupancy List as of <%= Date.today %></h3>

    <div class="clear padding15"></div>

    <table style="width:100%;">
      <thead>
        <th>Room No</th>
        <th>Occupants</th>
        <th>Start Date</th>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <% if room.has_checkin? %>
            <tr>
              <td class="center"><%= room.room_no %></td>
              <td>
               <% room.checkins.first.checkin_occupants.each do |o| %>
                 <%= o.occupant %><br/>
               <% end %>
              </td>
              <td><%= room.checkins.first.start_date %></td>
            </tr>
          <% else %>
            <tr>
              <td class="center"><%= room.room_no %></td>
              <td>VACANT</td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="clear padding15"></div>

  </div>

  <div class="clear padding15"></div>
